<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="danisman.Properties.Settings.ogrenciIsleriConnectionString"
            connectionString="Data Source=LAB3-3;Initial Catalog=ogrenciIsleri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="danisman.Properties.Settings.ogrenciIsleriConnectionString1"
            connectionString="Data Source=DELL\SQLEXPRESS;Initial Catalog=ogrenciIsleri;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>